body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  border: 1px solid #e7e9fc;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
  border: 1px solid #e7e9fc;
}
.header nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo,
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}
.page-nav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
}
.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}
.address-ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.address .link-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.address .link-address:hover,
.address .link-address:focus {
  color: #404bbf;
}
.page-title {
  padding: 188px 0;
}
.page-title .container {
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title {
  background-color: #2e2f42;
}
.page-title .title-hero {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}
.button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
}
.button:hover,
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content {
  padding: 120px 0;
}
.content-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.content-list {
  width: calc((100% - 72px) / 4);
}
.content .title,
.content .text {
  max-width: 264px;
}
.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
  min-width: 162px;
  text-align: center;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card-set-team .container {
  padding: 32px 0;
}
.card-set .card-set-team {
  width: calc((100% - 72px) / 4);
  margin-bottom: 32px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  text-align: center;
}
.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-set-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-portfolio .card-portfolio {
  border: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.card-portfolio .container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-text {
  padding-left: 16px;
}
.class-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 32px;
  text-align: center;
}
.class-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  font-weight: 400;
  text-align: center;
}

.footer {
  background-color: #2e2f42;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}
.footer .container {
  margin: 100px 156px;
  max-width: 264px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.span-footer {
  color: #f4f4fd;
}
.footer .footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
