body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}
.header nav {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo,
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}
.page-nav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
}
.page-nav .link-first {
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}
.page-nav .link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.page-nav .link-first::after {
  display: block;
  min-width: 48px;
  margin-top: 20px;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.page-nav .link:hover::after,
.page-nav .link:focus::after {
  opacity: 1;
}
.address-ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.address .link-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-address:hover,
.address .link-address:focus {
  color: #404bbf;
}

.page-title .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
}
.page-title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
}
.page-title .title-hero {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}
.button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content {
  padding: 120px 0;
}
.content-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.content-icon {
  display: block;
}

.content-list {
  width: calc((100% - 72px) / 4);
}
.content .title,
.content .text {
  max-width: 264px;
}
.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
  min-width: 162px;
  text-align: center;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card-set-team .text-team {
  padding: 32px 0;
}

.card-set .card-set-team {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-box {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-set-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-portfolio .card-portfolio {
  border-bottom: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.card-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  padding: 8px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover .overlay {
  transform: translateY(0);
}
.card-portfolio .portfolio {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.class-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.class-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  margin: 0 auto;
}
.div-logo {
  width: 264px;
  margin-right: 120px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 8px;
}
.span-footer {
  color: #f4f4fd;
}
.footer .footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-media {
  margin-right: 80px;
}
.social-media .social-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer-social .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  display: flex;
  flex-direction: row;
  fill: #f4f4fd;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.subscribe-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.email {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.email::placeholder {
  color: #ffffff;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}
.modal {
  position: absolute;
  background-color: #fcfcfc;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translateX(-50%) translateY(-70%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.modal-form-field {
  margin-bottom: 8px;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
}
.form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  stroke: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-comment {
  margin-bottom: 16px;
}
.form-textarea {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  display: block;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-agreement {
  margin-bottom: 24px;
}
.modal-form-box {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-link {
  /* line-height: 16px; */
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.custom-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-input:checked + .modal-form-box > .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.agreement-input:checked
  + .modal-form-box
  > .custom-checkbox
  .custom-checkbox-icon {
  fill: #f4f4fd;
}
.btn-submit {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  display: block;
  margin-left: 95px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: #404bbf;
}
