body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: currentColor;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72px;
}
.header nav {
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo,
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}
.span {
  color: #2e2f42;
}
.page-nav {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  gap: 40px;
}
.page-nav .link-1 {
  color: #404bbf;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: #404bbf;
}

.page-nav .link-first::after {
  display: block;
  min-width: 48px;
  margin-top: 20px;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.page-nav .link:hover::after,
.page-nav .link:focus::after {
  opacity: 1;
}
.address-ul {
  font-style: normal;
  display: flex;
  gap: 40px;
}
.address .link-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .link-address:hover,
.address .link-address:focus {
  color: #404bbf;
}

.page-title .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-title {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
}
.page-title .title-hero {
  color: #ffffff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}
.button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  border-radius: 4px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content {
  padding: 120px 0;
}
.content-ul {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icon-box {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.content-icon {
  display: block;
}

.content-list {
  width: calc((100% - 72px) / 4);
}
.content .title,
.content .text {
  max-width: 264px;
}
.title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}
.section-team {
  background-color: #f4f4fd;
}

.section-title {
  color: #2e2f42;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
  min-width: 162px;
  text-align: center;
  padding-top: 120px;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.card-set-team .text-team {
  padding: 32px 0;
}

.card-set .card-set-team {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set-team:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: var(--white);
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.social-box {
  width: 40px;
  height: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 12px;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  fill: #f4f4fd;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-set-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-set-portfolio .card-portfolio {
  border-bottom: 1px solid #e7e9fc;
  width: calc((100% - 48px) / 3);
}
.card-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  padding: 8px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-box:hover .overlay {
  transform: translateY(0);
}
.card-portfolio .portfolio {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
.class-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.class-text {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  margin-bottom: 8px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
  max-width: 1158px;
  margin: 0 auto;
}
.div-logo {
  width: 264px;
  margin-right: 120px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 8px;
}
.span-footer {
  color: #f4f4fd;
}
.footer .footer-text {
  color: #f4f4fd;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.social-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 208px;
  margin-left: 120px;
}
.social-media .social-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.footer-social .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  padding: 8px;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  display: flex;
  flex-direction: row;
  fill: #f4f4fd;
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  background-color: #31d0aa;
}
